name: check

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
    workflow_dispatch: {}

jobs:
    lints:
        name: Rustfmt and clippy
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Install rust (stable)
              uses: dtolnay/rust-toolchain@stable
              with:
                  components: clippy, rustfmt

            - name: Run rustfmt
              run: cargo fmt --check

            - name: Run clippy
              run: cargo clippy --all-features -- -D warnings

    build_and_test:
        name: Build and test
        runs-on: ubuntu-latest

        strategy:
            matrix:
                rust: [stable, beta, nightly]

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Install rust (${{ matrix.rust }})
              uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: ${{ matrix.rust }}

            - name: Cache
              uses: actions/cache@v3
              with:
                  path: |
                      ~/.cargo
                      target
                      Cargo.lock
                  key: ${{ runner.os }}-${{ matrix.rust }}-${{ hashFiles('Cargo.toml') }}
                  restore-keys: |
                      ${{ runner.os }}-${{ matrix.rust }}-${{ hashFiles('Cargo.toml') }}
                      ${{ runner.os }}-${{ matrix.rust }}-

            - name: Build
              run: cargo build --all-targets

            - name: Tests
              run: cargo test --lib --examples
