name: docs

on:
  push:
    branches: [master]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: nightly

      - name: Build docs
        run: cargo doc --no-deps --all-features

      - name: Prepare docs
        run: |
          mkdir -p _site/master
          echo '<meta http-equiv="refresh" content="0;url=master/logged_stream/index.html">' > _site/index.html
          echo '<meta http-equiv="refresh" content="0;url=logged_stream/index.html">' > _site/master/index.html
          mv target/doc/* _site/master

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0

  deploy:
    name: Deploy to GitHub Pages
    needs: build

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
